---
import Layout from "@/layouts/Base";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  image="/blog-placeholder-about.jpg"
>
  <h1 class="title">About</h1>
  <p>
    backend engineer. exploring systems and database internals.</p>

  <h2 class="title mt-4">FAQs</h2>

  <p>
    Q: Your background?
    <br />

    A: Working on backend systems for 4 years. Mainly Python/Django.
    <br />
    I can learn <i>quickly</i>. Learnt x86-assembly in a week and solved <a
      class="cody-link"
      href="/en/blog/defusing-bomb-lab"
      target="_blank">this</a
    > in a day. More in my <a
      class="cody-link"
      href="/resume.pdf"
      target="_blank">resume</a
    >.
  </p><br />

  <p>
    Q: How do you work?
    <br />
    A: I love to take ownership of whatever I work on. I take time to find inefficiencies
    and slowly trim them out. I document almost everything, to understand what I did and why I did it.
  </p><br />

  <p>
    Q: What do you want to work on?
    <br />
    A: In order. <br />
    1. databases <br />
    2. infra (<a class="cody-link" href="https://www.jointaro.com/question/zyEImoKWObsSm8YymzvT/between-platform-serving-developers-and-product-teams-serving-end-customers-what-should-be-ones-preference-based-on-level/#ERxjZ2VFEhHoSq9IlI8I" target="_blank">reasoning</a>)<br />
    3. backend<br />
  </p><br />

  <h2 class="title mt-4">thing i like</h2>
  <ul class="list-inside list-disc">
    <li>databases</li>
    <li>souls games (<a class="cody-link" href="https://x.com/echo4eva/status/1826902694092833134" target="_blank">relevant tweet</a>)</li>
    <li>magnolia bakery's banana pudding</li>
    <li>forumla one</li>
  </ul>
</Layout>
